@import "normalize";
@import "bourbon/bourbon";
@import "base/variables";
// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "base/grid-settings";

$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);

@import "base/buttons";
//@import "forms";
//@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "neat/neat";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,400i,700,700i');

li > p {
    margin-bottom: 0;
}

.blue {
    color: $blue;
}

body {
    background-color: $base-background-color;
}

.wrapper {
    @include outer-container;
}

.banner {
    @include media($medium-screen-up) {
        padding-top: 30%;
        background-image: url(https://s3-us-west-2.amazonaws.com/russelljanderson-dev/static/sea.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.social_icons {
    a {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 0.5rem;
        img {
            display: block;
            max-width: 100%;
        }
        &.github {
            padding: 6px;
        }
    }
}

.container {
    @include span-columns(12);

}

.header_wrapper {
    overflow: hidden;
    padding: 2rem;
    @include media($large-screen-up) {
        @include span-columns(3);
    }
}

.content_wrapper {
    background-color: $white;
    padding: 2rem;
    @include media($large-screen-up) {
        @include span-columns(9);
    }
}

.content {
    margin-bottom: 3rem;
    @include media($large-screen-up) {
        @include span-columns(7);
    }
}

.positions {
    @include media($large-screen-up) {
        @include span-columns(4);
        @include shift(1);
    }
}

.show_wrapper {
    position: relative;
    @include media($large-screen-up) {
        @include span-columns(10);
        @include shift(1);
    }
    img {
        max-width: 100%;
    }
}

.bio {
    font-size: 0.85rem;
    p {
        margin-bottom: 2rem;
    }
}

.bio-pic {
    width: 150px;
    border-radius: 30%;
    margin: 0 auto;
    display: block;
}

.title {
    font-size: 2rem;
    color: $white;
    @include media($medium-screen-up) {
        font-size: 3rem;
    }
    a {
        color: $white;
    }
}

.subtitle {
    font-size: 2rem;
    font-weight: normal;
    color: $blue;
    margin-bottom: 3rem;
}

blockquote {
    border-left: 4px solid $green;
    padding-left: 1rem;
    margin:0 1rem 3rem;
    @include media($medium-screen-up) {
        margin: 0 rem(40) 3rem;
    }
}

.status {
    font-size: 1.25rem;
    font-weight: normal;
    color: $blue;
    margin-top: 3rem;
}

.role {
    padding-left: 1rem;
    h4 {
        margin: 1rem 0 rem(4);
    }
}

.description {
    font-size: 14px;
}

.contact {
    text-align: center;
    margin-top: 3rem;
}

.button, html .button {
    @extend #{$all-buttons};
}

// Posts

.blog_post {
    h1 {
        @extend .subtitle;
    }
    h2 {
        @extend .status;
        font-size: 1.5rem;
    }
    h3 {
        @extend .status;
    }
    h4 {
        @extend .status;
        font-size: 1.125rem;
    }
    h5, h6 {
        @extend .status;
        font-size: 1rem;
    }
    p {
        text-align: justify;
    }
}
